.App {
  text-align: center;
}

h1 {
  color: black;
  text-shadow: -3px 0 white, 0 3px white, 3px 0 white, 0 -3px white;
  text-align: center;
}

p {
  color: black;
  text-shadow: -3px 0 white, 0 3px white, 3px 0 white, 0 -3px white;
  text-align: center;
}

h3 {
  color: black;
  text-shadow: -3px 0 white, 0 3px white, 3px 0 white, 0 -3px white;
  text-align: center;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, 350px);
  justify-content: space-around;
}

.card img {
  width: 300px;
  height: 200px;
}

.show img {
  margin-left: 500px;
  margin-right: 30%;
  margin-top: .5em;
  border-radius: 5px;
  width: 300px;
  height: 200px;
  object-position: 10px center
}

a {
  /* position: relative; */
  padding-bottom: 10px;
  bottom: 0px;
  right: 0px;
  margin: 0px;
}  


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
